---
import Layout from "../layouts/Layout.astro";

import { Image } from "astro:assets";
import { library, icon } from "@fortawesome/fontawesome-svg-core";
import { faEnvelope } from "@fortawesome/free-solid-svg-icons";
import {
  faYoutube,
  faGithub,
  faLinkedin,
  faSlack,
} from "@fortawesome/free-brands-svg-icons";

// Declare all the icons you plan on using
library.add(faYoutube, faGithub, faLinkedin, faSlack, faEnvelope);
// Instantiate the icon with the icon function
const youtubeIcon = icon({ prefix: "fab", iconName: faYoutube.iconName });
const githubIcon = icon({ prefix: "fab", iconName: faGithub.iconName });
const linkedinIcon = icon({ prefix: "fab", iconName: faLinkedin.iconName });
const slackIcon = icon({ prefix: "fab", iconName: faSlack.iconName });
const mailIcon = icon({ prefix: "fas", iconName: faEnvelope.iconName });
---

<Layout>
  <h1 class="text-2xl font-bold pt-8">Contact Options</h1>
  <h2 class="text-2xl opacity-40 text-center mt-10">Leave a message here</h2>
  <form
    name="contact"
    action="https://formspree.io/f/xayrbyzk"
    method="POST"
    class="max-w-xl mx-auto p-6 mt-2 bg-gray-100 dark:bg-neutral-800 rounded-xl shadow-md space-y-6"
  >
    <p class="space-y-2">
      <label
        for="email"
        class="block text-gray-900 dark:text-gray-100 font-semibold"
        >Your email:</label
      >
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Let me know how to best respond to you!"
        required
        class="w-full p-3 border border-gray-300 dark:border-gray-700 rounded-md bg-white dark:bg-neutral-700 text-gray-900 dark:text-gray-100 placeholder-gray-500 dark:placeholder-gray-400"
      />
    </p>
    <p class="space-y-2">
      <label
        for="message"
        class="block text-gray-900 dark:text-gray-100 font-semibold"
        >Your message:</label
      >
      <textarea
        id="message"
        name="message"
        placeholder="Send me a message or a service inquiry!"
        class="w-full p-3 border border-gray-300 dark:border-gray-700 rounded-md bg-white dark:bg-neutral-700 text-gray-900 dark:text-gray-100 placeholder-gray-500 dark:placeholder-gray-400"
      ></textarea>
    </p>
    <div class="text-center">
      <button
        type="submit"
        class="px-6 py-3 rounded-md bg-neutral-200 dark:bg-neutral-600 dark:text-gray-100 font-semibold hover:opacity-70 hover:cursor-pointer"
      >
        Submit
      </button>
    </div>
  </form>

  <h2 class="mt-12 text-center opacity-40">External Options</h2>
  <div
    class="max-w-sm mx-auto text-gray-900 dark:text-gray-100 pb-4 max-w-xl
    mt-2
    mx-auto
    p-6
    bg-gray-100
    dark:bg-neutral-800
    rounded-xl
    shadow-md
    space-y-6
    mb-10"
  >
    <ul class="list-disc list-inside space-y-2">
      {
        [
          {
            name: "Email: website@colton.place",
            href: "mailto:website@colton.place",
            extra: "",
            icon: mailIcon,
          },
          {
            name: "LinkedIn",
            href: "https://www.linkedin.com/in/coltonl/",
            extra: "",
            icon: linkedinIcon,
          },
          {
            name: "Github",
            href: "https://github.com/C-Loftus",
            icon: githubIcon,
          },
          {
            name: "Talon Slack (@Colton Loftus)",
            href: "https://talonvoice.slack.com/team/U02S1LGCH9A",
            icon: slackIcon,
          },
          {
            name: "YouTube",
            href: "https://www.youtube.com/@ColtonLoftus",
            icon: youtubeIcon,
          },
        ].map(({ name, href, extra, icon }) => (
          <li class="flex items-center gap-1">
            <a
              href={href}
              title={name}
              class="flex items-center gap-1 w-full hover:underline"
            >
              <span class="w-7 h-7 opacity-70" set:html={icon.html} />
              <span class="pl-4 text-sm">{name}</span>
              <span class="text-sm">{extra}</span>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</Layout>
